<h1>User info</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name</p>
  <%= @user.name %>
  <p>introduction</p>
  <%= @user.introduction %>
</div>

<p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>

<h1>Books</h1>
<%= image_tag @user.get_profile_image(100,100) %>
<% @books.each do |book| %>
  <p>title</p>
  <%= book.title %>
  <p>opinion</p>
  <%= book.body %>
<% end %>